cmake_minimum_required(VERSION {{.CMakeMinimumRequiredVersion}})

project("${CMAKE_PROJECT_NAME}" 
    LANGUAGES C CXX ASM 
    VERSION "${CMAKE_PROJECT_VERSION}"
    DESCRIPTION "${CMAKE_PROJECT_DESCRIPTION}"
)

set(CMAKE_C_STANDARD {{.CStandard}})

add_executable(CMAKE_PROJECT_NAME main.c)


if(COMMAND forge_post_build_hex_size)
	forge_post_build_hex_size(CMAKE_PROJECT_NAME)
endif()