{
  "version": 3,
  "cmakeMinimumRequired": {
    "major": {{.CMakeMinimumRequiredMajor}},
    "minor": {{.CMakeMinimumRequiredMinor}}
  },
  "configurePresets": [
    {
      "name": "host-base",
      "hidden": true,
      "generator": "Unix Makefiles",
      "binaryDir": "${sourceDir}/build/${presetName}",
      "toolchainFile": "${sourceDir}/cmake/gcc-arm-none-eabi.cmake",
      "cacheVariables": {
        "CMAKE_PROJECT_NAME": "{{.ProjectName}}",
        "CMAKE_PROJECT_VERSION": "{{.ProjectVersion}}",
        "CMAKE_PROJECT_DESCRIPTION": "{{.ProjectDescription}}",
        "CMAKE_EXPORT_COMPILE_COMMANDS": "ON",
        "CMAKE_C_STANDARD": "{{.CStandard}}",
        "CMAKE_C_STANDARD_REQUIRED": "ON"
      }
    },
    {
      "name": "debug",
      "inherits": "host-base",
      "displayName": "Host Debug",
      "cacheVariables": {
        "CMAKE_BUILD_TYPE": "Debug"
      }
    },
    {
      "name": "release",
      "inherits": "host-base",
      "displayName": "Host Release",
      "cacheVariables": {
        "CMAKE_BUILD_TYPE": "Release"
      }
    },
    {
      "name": "relwithdebinfo",
      "inherits": "host-base",
      "displayName": "Host RelWithDebInfo",
      "cacheVariables": {
        "CMAKE_BUILD_TYPE": "RelWithDebInfo"
      }
    },
    {
      "name": "minsizerel",
      "inherits": "host-base",
      "displayName": "Host MinSizeRel",
      "cacheVariables": {
        "CMAKE_BUILD_TYPE": "MinSizeRel"
      }
    },
    {
      "name": "default",
      "inherits": "debug",
      "hidden": true
    }
  ],
  "buildPresets": [
    {
      "name": "debug",
      "configurePreset": "debug"
    },
    {
      "name": "release",
      "configurePreset": "release"
    },
    {
      "name": "relwithdebinfo",
      "configurePreset": "relwithdebinfo"
    },
    {
      "name": "minsizerel",
      "configurePreset": "minsizerel"
    },
    {
      "name": "default",
      "configurePreset": "default"
    }
  ]
}
